#header {
  position: fixed;
  top: 0;
  z-index: 9;
}
#header span {
  display: inline-block;
  height: 50px;
  background-color: green;
  border: 1px solid black;
}
#header span:hover {
  background-color: #fff;
  cursor: pointer;
}
